$fg: rgba(228, 229, 231, 1);
$dim-fg: rgba(176, 177, 180, 0.5);
$bg: rgba(23, 24, 28, 0.9);
$dim-bg: rgba(38, 39, 43, 0.7);

$accent: #afecff;
$accent-secondary: rgba(178, 203, 211, 255);

$red: rgba(238, 106, 112, 1);
$blue: rgba(123, 165, 221, 1);
$blue-desaturated: rgba(103, 145, 201, 1);
$magenta: rgba(203, 146, 242, 1);
$green: rgba(150, 214, 176, 1);
$yellow: rgba(255, 178, 155, 1);
