$fg: #615a5a;
$dim-fg: #b8b8b8;
$bg: #e4e5e7;
$dim-bg: #bbbbbb;

$accent: #e7c26c;
$accent-secondary: rgba(215, 197, 160, 255);

$red: #ee6a70;
$blue: #7ba5dd;
$blue-desaturated: #6791c9;
$magenta: #cb92f2;
$green: #96d6b0;
$yellow: #ffb29b;
