window {
    font-size: 8pt;
    font-family: "JetBrainsMono Nerd Font";
    background-color: $bg;
}

.bar {
}

.center {
}

.left {
}

.right {
}

.controlcenter {
    margin: 0.5rem;
    padding: 0.25rem 0.2rem 0.25rem 0.6rem;
    background-color: $muted;
    border-radius: 0.25rem;

    :hover {
        background-color: $hover;
        border-radius: 0.25rem;
    }
}

.battery-top {
    font-size: 7pt;
    color: $fg-muted;
}

.battery-bar {
    color: $hover;
    font-weight: 900;
    font-size: 7pt;
    margin: 0.3rem 0rem 0.3rem 0.4rem;
    padding: 0px 0.3rem;
    border: 1px solid $fg-muted;
    border-radius: 0.25rem;
}

.button {
    font-size: 11pt;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
}

.menu {
    margin: 0.5rem;
    background-color: $muted;
    border-radius: 0.25rem;

    :hover {
        background-color: $hover;
        border-radius: 0.25rem;
    }
}

.cc-button {
    font-size: 11pt;
    padding: 0 0.5rem;
}

.controls {
    margin: 0.4rem;
    padding: 0px 0.2rem;
    background-color: $muted;
    border-radius: 0.25rem;
}

.powerbutton {
    color: $red;
}

.workspaces {
    margin: 0.5rem 0rem;
    border-radius: 0.25rem;
    background-color: $muted;
}

.workspace-entry {
    border-radius: 0.25rem;
}

.workspace-entry.occupied {
    color: $fg-muted;
}

.workspace-entry.empty {
    color: $muted;
}

.workspace-entry.current {
    font-weight: 600;
    color: $fg;
    background-color: $hover;
}

.workspace-number {
    padding: 0px 0.8rem;
}

.outline {
    padding: 0.4rem;
    background-color: $bg;
}

tooltip {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 9pt;
    border: 2px solid $hover;
    background-color: $bg;
    border-radius: 0.25rem;
}

.tray {
    margin: 0.5rem 0rem;
    padding: 0rem 0.8rem;
    border-radius: 0.25rem;
    background-color: $muted;
}

.tray-box {
    margin-right: 0.8rem;
}

.tray-button {
    margin-right: 0.2rem;
}

.mpdcover,
.widget {
    margin: 0.5rem;
    border-radius: 0.25rem;
}

.widget {
    margin: 0rem 1rem;
}

.picon {
    margin: 0 0.2rem;
}
